<!DOCTYPE html>
<html lang="en">

<head>
	<title>Data Siswa</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
	<h1>Data Student</h1>

    <a href="/student/add"><button class="btn btn-primary" >Add</button></a>
    

	<table border="1" class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Fisrt Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Birthdate</th>
			</tr>
		</thead>
		<tbody>
            <% for (var i = 0; i< data.length; i++) { %>
			<tr>
				<td><%= data[i].id %></td>
				<td><%= data[i].first_name %></td>
				<td><%= data[i].last_name %></td>
				<td><%= data[i].email %></td>
				<td><%= data[i].gender %></td>
				<td><%= data[i].birthdate %></td>
				<td><a href="/student/edit/<%= data[i].id %>">Edit</a> | <a href="/student/delete/<%= data[i].id %>">Delete</a></td>
            </tr>
            <% } %>
		</tbody>
	</table>
</body>

</html>